* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background:#EEEEEE;
}

li {
  list-style: none;
}

.clear{
  display: block;
  clear: both;
  content:"";
}

a {
  text-decoration: none;
}

@mixin pos($p:absolute) {
  position: $p;
}

.wh_img {
  width: 100%;
  & > img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.wh_tab_title {
  width: 100%;
  background:#EEEEEE;
  & > ul {
    width: 100%;
    display: flex;
    -webkit-justify-content: space-around;
    border-bottom: 1px solid #7AAA15;
    text-align: center;
    & > li {
      width: 100%;
      font-size: 1.5rem;
      color: #333333;
      padding: 3%;
      &:nth-of-type(1) {
        color: #70A401;
        border-bottom: 2px solid #70A401;
      }
    }
  }
}

.wh_tab_box {
  width: 100%;
  & > .wh_tab_now {
    width: 100%;
    padding: 5% 4%;
    display: none;
    background:#EEEEEE;
    &>.wh_Chapter1{
      width:100%;
      padding:2% 0;
      &>p{
        width:105%;
        margin-left:-.6rem;
        color:#333333;
        font-size:1.8rem;
        font-weight: bold;
        padding: 3% 0 3% 2%;
        background:#DDDDDD;
      }
      &>.wh_Chapter1_mark{
        &>p{
          color:#9B9B9B;
          font-size:1.2rem;
          margin:2% 0;
          padding:1% 0;
          &:nth-of-type(1){
            color:#333333;
            font-size:1.4rem;
            @include pos(relative);
            &>img{
              width:2rem;
              height:1.7rem;
              @include pos();
              right:3%;
              top:20%;
            }
          }
        }
      }

    }
    &:nth-of-type(1) {
      display: block;
      //border: 1px solid black;
      &>p{
        color:#333333;
        font-size:1.3rem;
        margin: 2% 0;
        &:nth-of-type(1){
          color: #444444;
          font-size:1.5rem;
          font-weight: bold;
        }
        &:nth-of-type(5){
          &>span{
            &:nth-of-type(1){
              color:#70A401;
              font-size:1.55rem;
              font-weight:bold;
            }
            &:nth-of-type(2){
              //display: inline-block;
              padding:1% 2%;
              color:white;
              background:#70A401;
              text-align: center;
              margin-left:2%;
              border-radius: 3px;
            }
          }
        }
        &:nth-of-type(6){
          &>span{
            color:#FCAA31;
            font-size:1.5rem;
            font-weight:bold;
          }
        }
        &:nth-of-type(7){
          width:6rem;
          height:2rem;
          line-height: 2rem;
          text-align: center;
          //padding:
          background:#FCAA31;
          color:white;
        }
        &:nth-of-type(8){
          text-indent: 2rem;
        }
        &:nth-of-type(9){
          text-align: center;
        }
        &:nth-of-type(10){
          color:#333333;
          &>span{
            color:#E6E6E6;
          }
        }
      }
      &>hr{
        border:1px dashed #CECECE;
        margin:5% 0;
      }
      &>video{
        width:100%;
        height:100%;
      }
      &>.wh_mark{
        width:100%;
        text-align: center;
        &>p{
          width:17%;
          margin:0 auto;
          padding:1%;
          border:1px solid #CFCFCF;
        }
      }
      &>.wh_group{
        width:100%;
        //border:1px solid black;
        @include pos(relative);
        margin-top:2%;
        padding:3% 0;
        &>p{
          &:nth-of-type(1){
            font-size:1.8rem;
            color:#333333;
            &>span{
              color:#E6E6E6;
            }
          }
          &:nth-of-type(2){
            @include pos();
            right:0;
            top:20%;
            color:#70A400;
            background:white;
            padding: 2% 6%;
            padding-left:2.5rem;
            &>img{
              @include pos();
              left:6%;
              top:15%;
              width:1.5rem;
              height:1.5rem;
            }
          }
        }
      }
      &>.wh_group_img{
        width:100%;
        //border:1px solid black;
        margin-top:3%;
        &>.wh_group_img_o{
          width:100%;
          //border:1px solid red;
          &>.wh_group_img_left_o{
            margin-top:5%;
            width:45%;
            float: left;
            background:white;
            &>img{
              width:90%;
              height:17rem;
              display: block;
              margin:5% auto;
            }
            &>p{
              width:90%;
              color:#333333;
              font-size:1.4rem;
              margin: 10% auto;
              &>span{
                &:nth-of-type(1){
                  color:#8AB42F;
                  font-size:1.7rem;
                  font-weight: bold;
                }
              }
            }
          }
          &>.wh_group_img_left_t{
            margin-top:5%;
            width:45%;
            float: right;
            background:white;
            &>img{
              width:90%;
              height:17rem;
              display: block;
              margin:5% auto;
            }
            &>p{
              width:90%;
              color:#333333;
              font-size:1.4rem;
              margin: 10% auto;
              &>span{
                &:nth-of-type(1){
                  color:#8AB42F;
                  font-size:1.7rem;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }

    }
    &:nth-of-type(3){
      &>div{
        width:100%;
        margin:5% 0;
        text-align: center;
        font-size:1.6rem;
        &>img{
          width:100%;
          height:100%;
          border:2px solid white;
        }
      }
    }
    &:nth-of-type(4){
      &>p{
        font-size:1.4rem;
        color:#333333;
        margin-top:2%;
        &:nth-of-type(1){
          font-size:1.6rem;
          color:#5C5C5C;
          font-weight:bold;
        }
        &:nth-of-type(6){
          font-size:1.6rem;
          color:#5C5C5C;
          font-weight:bold;
          margin-top:5%;
        }
      }
      &>div{
        width:100%;
        text-align: center;
        &>p{
          width:30%;
          border-radius:5px;
          margin: 5% auto;
          background:#70A400;
          font-size:1.4rem;
          color:white;
          padding:2% 4%;
        }
      }
    }
    &:nth-of-type(5){
      &>p{
        width:30%;
        margin:40% auto;
        text-align: center;
        font-size:1.4rem;
        color:#CCCCCC;
      }
    }
    &:nth-of-type(6){
      &>p{
        width:30%;
        margin:40% auto;
        text-align: center;
        font-size:1.4rem;
        color:#CCCCCC;
      }
    }

  }
}
